<%- include('partials/header') -%>

    </html>
    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>
    <% for (let post of postList) { %>
        <h1>
            <%= post.postTitle %>
        </h1>
        <p>
            <%= post.postBody.substring(0, 100) + ' ...' %>
                <a href="/posts/<%= post.postTitle%>">Read more</a>
        </p>
    <% } %>
<%- include('partials/footer') -%>